/* :root {
  --first-color: #212121;
  --second-color: #757575;
  --third-color: #2196f3;
  --icon-backdround: #f5f4fa;
  --white-color: #fff;
  --background-color: #2f303a;
} */

/* body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

header {
  height: 83px;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--first-color);
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header__logo,
.header__logo--dark,
.footer__logo--light,
.footer__logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  text-decoration: none;
}

.header__logo {
  padding: 24px 0;
  color: var(--third-color);
}

.footer__logo {
  color: var(--third-color);
}

.header__logo--dark {
  color: var(--first-color);
}

.footer__logo--light {
  color: var(--white-color);
} */

/* .navigation__link {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.navigation__link,
.contact__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link {
  color: var(--first-color);
}

.navigation__link--active {
  color: var(--third-color);
} */

/* .navigation__link--active::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--third-color);
}

.contact__link {
  color: var(--second-color);
} */

/* .footer__address:focus,
.footer__link:focus,
.footer__address:hover,
.footer__link:hover {
  color: var(--third-color);
} */

/* .hero__heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  color: var(--white-color);
} */

/* .modal__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 29px;
  display: block;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--third-color);
} */

/* .peculiarities__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
  box-sizing: content-box;
  margin-bottom: 10px;
} */

/* .team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--first-color);
} */

/* .portfolio__text {
  color: var(--second-color);
} */

/* .peculiarities__text {
  line-height: 1.71;
  max-width: 270px;
} */

/* .team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-color);
} */

/* .address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  text-decoration: none;
  margin-top: 20px;
} */

/* .footer__address {
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link {
  font-weight: 400;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .footer__social__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
} */

/* .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  margin: 0;
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--first-color);
  background: var(--icon-backdround);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: var(--third-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* .button-list {
  display: flex;
  justify-content: center;
} */

/* .portfolio__titel {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
} */

/* .portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
} */

/* .visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
} */

/*Болоки*/

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
} */

/* .header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
} */

/* .container__header {
  display: flex;
  align-items: center;
  height: 83px;
} */

/* .navigation {
  margin-left: 93px;
  height: 100%;
} */

/* .navigation__list {
  display: flex;
  height: 100%;
} */

/* .navigation__item:not(:last-child) {
  margin-right: 50px;
} */

/* .navigation__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
} */

/* .contacts__list {
  display: flex;
  align-items: center;
  margin-left: auto;
} */

/* .contact__item:not(:last-child) {
  margin-right: 50px;
} */

/* .hero {
  background-color: #c4c4c4;
  padding: 200px 0;
  position: relative;
  z-index: 2;
} */

/* .peculiarities__list {
  display: flex;
} */
/* 
.peculiarities__item:not(:last-child) {
  margin-right: 30px;
} */
/* 
.section__job {
  padding-top: 0;
} */

/* .job__list {
  margin-top: 50px;
  display: flex;
} */

/* .job__item:not(:last-child) {
  margin-right: 30px;
} */

/* .section__team {
  background: var(--icon-backdround);
} */

/* .job__heading{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0;
  text-align: center;
} */
/* 
.team__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0;
  text-align: center;
} */

/* .clients__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin: 0;
  text-align: center;
} */

/* .team__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
} */

/* .team__thumb {
  padding: 30px 0;
} */

/* .team__item:not(:last-child) {
  margin-right: 30px;
}

.team__item {
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  text-align: center;
} */

/* footer {
  background-color: var(--background-color);
  padding: 60px 0;
} */

/* .contacts-list-footer {
  display: block;
  align-items: center;
} */

/* .footer__item__contact:not(:last-child) {
  margin-bottom: 9px;
} */

/* .footer__social {
  display: block;
} */

/* .button__item:not(:last-child) {
  margin-right: 10px;
} */

/* .portfolio__list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
} */

/* .portfolio__item:nth-child(-n + 6) {
  margin-bottom: 30px;
} */

/* .portfolio__thumb {
  margin-top: -5px;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background: var(--white-color);
} */

/* .hero__bunner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to left,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-baner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/*Спрайты*/

/* .peculiarities__thumb {
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--icon-backdround);
} */

/* .peculiarities__icon {
  width: 70px;
  height: 70px;
} */

/* .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.socials__item {
  padding: 0;
  border: none;
  background-color: var(--white-color);
  align-items: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--third-color);
}

.social__link:hover .icon,
.social__link:focus .icon {
  fill: var(--white-color);
}

.socials__item:not(:last-child) {
  margin-right: 10px;
} */

/* .icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.clients-item {
  padding: 0;
  border-radius: 4%;
  align-items: center;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
} */

/* .clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4%;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--third-color);
}

.clients__link:hover .clients-icon,
.clients__link:focus .clients-icon {
  fill: var(--third-color);
} */

/* .contact__link {
  display: flex;
  align-items: center;
} */
/* .contact__item {
  padding: 0;
} */
/* .contacts__icon {
  margin-right: 10px;
  fill: var(--second-color);
} */

/* .contact__link:hover .contacts__icon,
.contact__link:focus .contacts__icon {
  fill: var(--third-color);
} */

/* .container__footer {
  display: flex;
  align-items: baseline;
} */

/* .footer__social {
  margin-left: 70px;
} */

/* .footer__social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
} */

/* .footer__social__item {
  padding: 0;
  align-items: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 10%);
} */

/* .footer__social__link:hover,
.footer__social__link:focus {
  background: var(--third-color);
} */

/* .footer__social__item:not(last-child) {
  margin-right: 10px;
} */
/* 
.footer__social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__icon {
  fill: var(--white-color);
} */

/* .portfolio__items__hover {
  display: block;
}

.portfolio__items__hover:hover,
.portfolio__items__hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/*Анимации*/

/* .backdrop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
} */

/* .modal {
  position: absolute;
  width: 528px;
  background: var(--white-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
} */

/* .modal__close--active {
  position: absolute;
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  margin: 0;
  top: 8px;
  right: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;

  align-items: center;
} */

/* .modal__close--active:hover .close__icon {
  fill: var(--third-color);
} */

/* .job__thumb {
  position: relative;
} */

/* .job__animation {
  display: flex;
  font-weight: 700;
  line-height: 1.14px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
} */
/* 
.portfolio__animation {
  position: relative;
  overflow: hidden;
  display: block;
} */

/* .animation__text {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transform: translateY(+100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
} */

/* .animation__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white-color);
} */

/* .portfolio__items__hover:hover .animation__text,
.portfolio__items__hover:focus .animation__text {
  transform: translateY(0%);
} */

/*Modal*/

/* .form__header {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 12px;
}

.form {
  width: 100%;
}

.label__title {
  display: block;
  padding-bottom: 4px;
  color: var(--second-color);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__label {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.label__icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:nth-child(-n + 4) {
  margin-bottom: 10px;
}

.form__label:nth-child(5) {
  margin-bottom: 20px;
}

.form__label:nth-child(6) {
  margin-bottom: 30px;
}

.label__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label:focus-within .label__input {
  outline: none;
  border: 1px solid var(--third-color);
}

.form__label:focus-within .label__icon {
  outline: none;
  fill: var(--third-color);
}

.comment {
  display: block;
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

.comment::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label__flag {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.flag__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-left: 7px;
}

.form__button {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--third-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 4px 55px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.document__link {
  text-decoration: underline;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 4px;
}

.flag__icon {
  margin-bottom: 4px;
  border: 2px solid #000;
  fill: var(--white-color);
  border-radius: 1px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.flag {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.flag:checked ~ .flag__icon {
  border: none;
  background-color: var(--third-color);
}

.flag:focus ~ .flag__icon {
  border-color: var(--third-color);
} */

/*footer form*/

/* .form__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
} */

/* .footer__form {
  margin-left: 93px;
} */

/* .footer__form {
  display: flex;
  align-items: center;
} */

/* .footer__input {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--background-color);
  padding: 15px 16px;
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
} */

/* .footer__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;
  border: none;
  color: var(--white-color);
  border-radius: 4px;
  background-color: var(--third-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.button__icon {
  margin-left: 10px;
  fill: var(--white-color);
} */
